body {
	background-color: rgba(0, 0, 50, 0.3);
}

.container {
	background-color: rgba(250,250,250,0.7);	
}

.s-row {
	background-color: green;
}

/************************
Top Nav
*************************/

.user_btn {
	float: right!important;
	margin-right: -15px;
	margin-top: 15px;
	margin-bottom: 0;
}

/************************
Modal
*************************/

p.newuser_msg {
	padding-bottom: 10px;
}

.inum_disabled {
	background-color: lightgrey;
}


/************************
Alert styles
************************/

.alert-margin {
	margin-bottom: 20px;
}


/***********************
Overlay styles
*************************/

.hello {
	margin-right: 2px;
}


/***********************
Changes to bootstrap
*************************/

.navbar {
	margin-bottom: 0;
}

a.list-group-item {
	text-align: center;
}

p.navbar-text.navbar-right {
	margin-bottom: 0;
}