body {
	/* background-color: blue; */
}

.container {
	
}

.s-row {
	background-color: green;
}


.topnav-user {
	font-weight: bold;

}


/*******
Changes to bootstrap
*********/

.navbar {
	margin-bottom: 0;
}