body {
	background-color: rgba(0, 0, 50, 0.3);
}

.container {
	background-color: white;	
}

.s-row {
	background-color: green;
}


.topnav-user {
	font-weight: bold;

}

/********
Alert styles
********/

.alert-margin {
	margin-bottom: 20px;
}



/*******
Changes to bootstrap
*********/

.navbar {
	margin-bottom: 0;
}

a.list-group-item {
	text-align: center;
}