Table {
	text-align: center;
}

.qtr_nav, .qtr_header {
	text-align: center;
}

th {
	text-align: center;
	background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	background-repeat: repeat-x;
	border-color: #2b669a;
	text-shadow: 0 -1px 0 #286090;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

td.free_cell {
	background-color: green;
	color: green;
}

.userSelected {
	background-color: red;
}

.product_header {
	text-align: center;
	color: #EEE;
	background-color: #337ab7;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
}

.divider {
	color: green;
	background-color: green;
}

.dates_header {
	text-align: center;
	color: #EEE;
	font-size: 1.5em;
	background-color: #337ab7;
	padding-top: 5px;
	padding-bottom: 5px;
}

// 'Selected Dates' table

table.selection_tbl {
}
table.selection_tbl th {
	font-size: 1.2em;
}

